.button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0.5px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--hover);
}

.button.delete {
  background-color: red;
}

.button.delete:hover {
  background-color: rgb(255, 67, 67);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active,
.button:disabled:focus,
.button:disabled:visited {
  background-color: #ccc;
  cursor: not-allowed;
}
