:root {
  --green: #3d8361;
  --hover: #479871;
  --dark-green: #1c6758;
  --black: #2c3333;
  --white: #fff;
  --beige: #d6cda4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: var(--white);
  text-align: center;
}

@media (max-width: 650px) {
  h1,
  h2 {
    font-size: 1.25rem;
  }
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  background-color: var(--black);
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
